<ion-view view-title="{{'LOGIN' | translate }}" hide-back-button="true">
    <ion-content>
        <div>
            <div class="list card">
                <label class="item item-input">
                    <span class="input-label">{{'USERNAME' | translate }}</span>
                    <input type="text" ng-model='login.username'>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                    <input type="password" ng-model='login.password'>
                </label>
            </div>
            <div align='center'>
                <button class="button button-large button-positive" style="min-width:150px;" ng-disabled="login.disable" on-tap="login_validation()">
                    {{ 'LOGIN' | translate }}
                </button>
            </div>
            <br>
            <br>
            <br>
            <div align='center'>
                <button class="button button-large button-stable" style="min-width:120px;" on-tap="switch_to_english()">
                    English
                </button>
                <br>
                <br>
                <button class="button button-large button-stable" style="min-width:120px;" on-tap="switch_to_hindi()">
                    Hindi
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>