<ion-view view-title="Good Receipt">
    <ion-header-bar class="bar bar-subheader bar-stable">
        <h2 class="title">Customer Name</h2>
    </ion-header-bar>
    <ion-nav-buttons side="right">
        <button class="button" on-tap="log_out()">
            Log Out
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <br>
            <div>
                <!--  Customer Name  -->
                <div class="card">
                    <div class="item item-divider">
                        <span>Customer Name</span>
                    </div>
                    <label class="item item-input" style="width:100%;">
                        <ion-autocomplete ng-model="new_good_receipt.customer_name" item-view-value-key="value" items-method="new_good_receipt_search.customer_search(query)" placeholder="Customer Name" />
                    </label>
                </div>

                <!--  Vehicle Number  -->
                <div class="card">
                    <div class="item item-divider">
                        <span>Vehicle Number</span>
                    </div>
                    <label class="item item-input" style="width:100%;">
                        <ion-autocomplete ng-model="new_good_receipt.vehicle_number" item-view-value-key="value" items-method="new_good_receipt_search.vehicle_search(query)" placeholder="Vehicle Number" />
                    </label>
                </div>

                <!-- Customer Document Id -->
                <div class="card">
                    <div class="item item-divider">
                        <span>Customer Document Id</span>
                    </div>
                    <label class="item item-input">
                        <input type="text" ng-model="new_good_receipt.customer_document_id" placeholder="Customer Document Id">
                    </label>
                </div>

            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="button pull-right" style="padding: 0px 30px;font-color:#000" on-tap="customer_name_next()">Next</button>
    </ion-footer-bar>
</ion-view>